<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${question.title}">"</title>
</head>
<body>
    <h1 th:text="${question.title}"></h1>

    <table>
        <thead>
            <tr>
              <th th:text="${question.optionA}"></th>
              <th>vs</th>
              <th th:text="${question.optionB}"></th>
            </tr>
        </thead>
    </table>
    <hr>

    <h3>투표하기</h3>
    <h4>선택</h4>
    <form th:action="@{/questions/{id}(id=${question.id})}"
          th:object="${answer}"
          method="post"
    >
      <select th:field="*{answerText}" required>
        <option value="" selected>=== 선택하세요 ===</option>
        <option value="A">A</option>
        <option value="B">B</option>
      </select>

      <h4>의견</h4>
      <label>
        <input type="text" th:field="*{content}">
      </label>
        <button type="submit">투표하기</button>
    </form>
    <hr>

    <h3>투표 결과</h3>
    <div>

    </div>

</body>
</html>