<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>새 질문 만들기</title>
</head>
<body>
<h1>새 질문 만들기</h1>

<form action="/questions"
      th:object="${question}" method="post">
    <div>
      <label for="title">질문</label>
      <input type="text" th:field="*{title}" id="title">
    </div>
    <div>
      <label for="title">선택지 A</label>
      <input type="text" th:field="*{optionA}" id="optionA">
    </div>
    <div>
      <label for="title">선택지 B</label>
      <input type="text" th:field="*{optionB}" id="optionB">
    </div>
  <button type="submit">질문 등록</button>

  <a href="/questions"></a>

</form>
</body>
</html>
